body {
    font-family: "Indie Flower";
    background-color: rgb(187, 255, 0);
}
/* header elements */
.logo img {
    max-height: 150px;
    max-width: 150px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
nav a:link, a:visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: yellow;
}
.nav-link {
    flex-basis: 12%;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
}
.Ireland-link:link, .Ireland-link:visited, .Ireland-link:hover {
    color: yellow;
    font-weight: bold;
} 
.nav-link {
    flex-basis: 12%;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
}
.title {
    text-align: center;
}
.main-image {
    max-width: 100%;
    height: auto;

}
.content {
    display: flex;
    justify-content: space-between;
}
.content__cell {
    flex-basis: 30%;
    background-color: black;
    color: rgb(255, 0, 179);
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.cell-image {
    max-width: 140px;
    height: auto;

}
footer {
    background-color: rgb(255, 0, 179);
    color: white;
    margin: 0.5em 0;
    padding: 0.5em;
}