body {
    font-family: "Indie Flower";
    background-color: rgb(208, 255, 0);
}
/* header elements */
.logo img {
    max-height: 250px;
    max-width: 250px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 255, 234);
    color: white;
}
/* nav a:link, a:visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: yellow;
}
.nav-link {
    flex-basis: 12%;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
}
.spain-link:link, .spain-link:visited, .spain-link:hover {
    color: yellow;
    font-weight: bold; */
/* } */
.nav-link {
    flex-basis: 12%;
    margin: 1em;
    padding: 0.5em;
    text-align: left;
}
.title {
    text-align: left;
}
.main-image {
    max-width: 100%;
    height: auto;
}
.content {
    display: flex;
    justify-content: space-around;
}
.content__cell {
    flex-basis: 30%;
    border: 7px solid firebrick;
    background-color: rgb(24, 219, 219);

    margin: 1em;
    padding: 2em;
    text-align: right;
}
.cell-image {
    max-width: 140px;
    height: auto;

}
footer {
    background-color: rgb(192, 107, 107);
    color: white;
    margin: 0.5em;
    padding: 0.5em;
}